@model IEnumerable<integrador_moodle.Areas.Discente.ViewModels.VmMatriculaPagamento>

@{
    ViewBag.Title = "Minhas Matrículas";
    Layout = "~/Areas/Discente/Views/Shared/_Layout.cshtml";
}

<h2>Minhas Matrículas</h2>

@if (Model.Count() > 0)
{
<table class="table">
<tr>
    <th>Nome do Curso</th>
    <th>Data de Inscrição</th>
    <th>Situação</th>
</tr>
@foreach (var mat in Model)
{
    <tr>
        <td>@mat.Matricula.Curso.fullname</td>
        <td>@mat.Matricula.dataInscricao.ToShortDateString()</td>
        <td>
        @if (mat.Pagamento.situacaoTransacao.HasValue)
        {
            <text>@mat.Pagamento.situacaoTransacao.Value</text>
        }
        else
        {
            <text>@mat.situacao</text>
        }
        </td>
    </tr>
}
</table>
}
else
{
    <div>
        Nenhuma matrícula realizada
    </div>
}
