@model integrador_moodle.Areas.Admin.Models.LoginModel

@{
    ViewBag.Title = "Área do Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Área do Aluno</h2>

<fieldset>
    <legend>Login</legend>
    @using (Html.BeginForm("Login", "Aluno", new { id = ViewBag.id }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="control-group">
            <label class="control-label" for="inputEmail">E-mail</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Username, new { @id = "inputEmail", @placeholder = "E-mail" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Senha</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @id = "inputPassword", @placeholder = "Senha" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Entrar</button>
            </div>
        </div>
    }
</fieldset>
